<header>
    <div><span id="site-title">{{appName}}</span></div>
    <nav>
        <ul>
            <li>
                <a href="/">Weather</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/help">Help</a>
            </li>
        </ul>
    </nav>
</header>
<div id="page-title-wrapper">
    <h1 id="page-title">{{pageTitle}}</h1>
</div>
<div id="page-content">